<template name="ParagraphsNew">
  <form role="form" id="new-paragraph-form" class="form-editor">
    <div class="form-group">
      {{#if smartEditor}}
        {{> CodeMirror id="newParagraph" options=editorOptions code=content}}
      {{else}}
        <textarea id="newParagraph" class="form-control new-paragraph-text-area" placeholder="Enter paragraph">{{content}}</textarea>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-default" id="cancel-new-paragraph">Cancel</a>

    {{#if smartEditor}}
      <a class="btn btn-default pull-right" id="new-smart-editor-toggle">Enable Text Area Editor</a>
    {{else}}
      <a class="btn btn-default pull-right" id="new-smart-editor-toggle">Enable Smart Editor</a>
    {{/if}}
  </form>
</template>
