/*****************************************************************************/
/* PagesShow: Style */
/*****************************************************************************/
.hover-paragraph {
  position: relative;
}

.hover-paragraph:first-child {
  border: 1px dotted rgba(0,0,0,0);
}

.hover-paragraph:first-child:hover {
  border: 1px dotted silver;
  border-radius: 5px;

  .edit-paragraph-action {
    display: block;
  }
}

.edit-paragraph-action {
  position: absolute;
  right: 0px;
  top: 0px;
  display: none;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(225, 225, 225, .8);
  padding-left: 7px;
  padding-right: 7px;
}
