<template name="PagesShow">

  <article class="col-xs-12">
    <header>
      {{#if editTitle}}
        {{> PageTitleEdit}}
      {{else}}
        {{> PageTitleShow}}
      {{/if}}
    </header>

    {{#unless hideAdminMenu}}
      {{#if liveBlogging}}
        {{> ParagraphsNewLink}}
      {{/if}}
    {{/unless}}

    {{#each paragraphs}}
      <div>
        {{#if editParagraph}}
          {{> ParagraphsEdit}}
        {{else}}
          {{#if currentUser}}
            <div class="hover-paragraph">
              <p>
                {{{content}}}
                {{> ParagraphActions}}
              </p>
            </div>
          {{else}}
            <p>{{{content}}}</p>
          {{/if}}
        {{/if}}
      </div>
    {{/each}}

    {{#unless hideAdminMenu}}
      {{#unless liveBlogging}}
        {{> ParagraphsNewLink}}
      {{/unless}}
    {{/unless}}
  </article>

  {{#if showComments}}
    {{> Disqus}}
  {{/if}}

  {{#if currentUser}}
    <div id="hide-admin-menu" class="lh-popup">
      {{#if hideAdminMenu}}
        <a href="#" class="text-danger" title="Normal Screen / Show admin menu"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      {{else}}
        <a href="#" class="text-primary" title="Full Screen / Hide admin menu"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></a>
      {{/if}}
    </div>
  {{/if}}
</template>
