<template name="PagesShow">
  <ol class="breadcrumb">
    <li><a href="/">Letterhead</a></li>
    <li><a href="{{pathFor 'pages.index'}}">Pages</a></li>
    <li>{{title}}</li>
  </ol>

  <article>
    {{#if editTitle}}
      {{> PageTitleEdit}}
    {{else}}
      {{> PageTitleShow}}
    {{/if}}

    {{#each paragraphs}}
      <div>
        {{#if editParagraph}}
          {{> ParagraphsEdit}}
        {{else}}
          {{#if currentUser}}
            <div class="hover-paragraph">
              <p>
                {{{content}}}
                <div class="paragraph-actions">
                  <a href="#" class="move-up-paragraph-action"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
                  <a href="#" class="move-down-paragraph-action"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                  &nbsp;<span style="color: #d8d8d8;">|</span>&nbsp;
                  <a href="#" class="edit-paragraph-action"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                  &nbsp;<span style="color: #d8d8d8;">|</span>&nbsp;
                  <a href="#" class="delete-paragraph-action text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </div>
              </p>
            </div>
          {{else}}
            <p>{{{content}}}</p>
          {{/if}}
        {{/if}}
      </div>
    {{/each}}

    {{#if newParagraph}}
      {{> ParagraphsNew}}
    {{else}}
      {{#if currentUser}}
        <a href="#" id="new-paragraph-action">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add paragraph
        </a>
      {{/if}}
    {{/if}}
  </article>
</template>
