/*****************************************************************************/
/* PagesShow: Style */
/*****************************************************************************/
.hover-paragraph {
  position: relative;
}

.hover-paragraph:first-child {
  border: 1px dotted rgba(0,0,0,0);
}

.hover-paragraph:first-child:hover {
  border: 1px dotted silver;
  border-radius: 5px;

  .paragraph-actions {
    display: block;
  }
}

