<template name="ParagraphsNewLink">
  {{#unless newParagraph}}
    {{#if currentUser}}
      <p>
        {{#if hideAdminMenu}}
          <a href="#" id="new-paragraph-action">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        {{else}}
          <a href="#" id="new-paragraph-action">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add paragraph
          </a>
        {{/if}}
      </p>
    {{/if}}
  {{/unless}}
</template>
