<template name="PageSettings">
  <div class="panel panel-default" style="margin-bottom:0px; padding-bottom:0px;">
    <div class="panel-body">
      <form id="page-slug">
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Slug</span>
              <input type="text" id="pageSlug" class="form-control" placeholder="Page slug ..." value={{slug}}>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" value="Submit">
                  Submit
                </button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer" style="padding: 5px;">
      <a class="btn btn-default" id="cancel-page-settings" href="#" role="button">Cancel</a>
    </div>
  </div>
</template>
