<template name="PageSettings">
  <div class="panel panel-default" style="margin-bottom:0px; padding-bottom:0px;">
    <div class="panel-body">
      <form id="page-slug">
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon">Slug</span>
              <input type="text" id="pageSlug" class="form-control" placeholder="Page slug ..." value={{slug}} {{disabledSlugInput}}>
              <span class="input-group-btn">
                {{#if disabledSlugInput}}
                  <a href="#" class="btn btn-primary" id="editSlug" value="Edit">
                    Edit
                  </a>
                {{else}}
                  <button class="btn btn-primary" type="submit" value="Submit">
                    Submit
                  </button>
                {{/if}}
              </span>
            </div>
          </div>
        </div>
      </form>

      <br/>

      <form id="published-on">
        <div class="input-group" id="datetimepicker">
          <span class="input-group-addon">Published on</span>
          <span class="input-group-addon datepickerbutton">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          {{#if disabledPublishedInput}}
            <input type='text' id="publishedOn" class="form-control" data-date-format="LLLL" value="{{publishedOnFormatted}}" readonly style="margin-left: -40px;"/>
          {{else}}
            <input type='text' id="publishedOn" class="form-control" data-date-format="LLLL" value="{{publishedOnFormatted}}" />
          {{/if}}
          <input type='hidden' class="form-control"/>
          <span class="input-group-btn">
            {{#if disabledPublishedInput}}
              <a href="#" class="btn btn-primary" id="editPublished" value="Edit" style="margin-left: -40px;">
                Edit
              </a>
            {{else}}
              <button class="btn btn-primary" type="submit" value="Submit">
                Submit
              </button>
            {{/if}}
          </span>
        </div>
      </form>

      <br/>

      <div class="well well-sm col-sm-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="paragraphsOrder" {{checkedParagraphsOrder}}> Live Blogging (reverse paragraphs order)
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="disqusComments" {{disqusEnabled}}> Enable Disqus Comments 
          </label>
        </div>
      </div>

      <hr/>
      <a class="btn btn-default" id="cancel-page-settings" href="#" role="button">Cancel</a>
    </div>
  </div>
</template>
