/*****************************************************************************/
/* PageTitleEdit: Style */
/*****************************************************************************/

.custom-title-group {
  margin-top: 16px;
  margin-bottom: 11px;

  .page-title-input {
    padding: 0;
    font-size: 36px;
    font-weight: 500;
  }
}
