<template name="UsersShow">
  <div class="container lh-breadcrumb">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a href="/">Letterhead</a></li>
          <li>User Settings</li>
          <li><a href="{{pathFor 'settings.index'}}">App Settings</a></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">User Settings</h3>
          </div>
          {{#if currentUser.profile}}
            <div class="panel-body">
              <h4>{{currentUser.profile.displayName}}</h4>
              <p>{{currentUser.profile.bio}}</p>
            </div>
          {{/if}}
          <div class="list-group">
            <a href="#" class="list-group-item {{activeSection 'username'}}" id="user-settings-username">Username</a>
            <a href="#" class="list-group-item {{activeSection 'profile'}}" id="user-settings-profile">Profile</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-9">
        {{#if activeSection 'username'}}
          {{> UsernameEdit}}
        {{/if}}
        {{#if activeSection 'profile'}}
          {{> UserProfileEdit}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
