<template name="PageTitleShow">
  {{#if currentUser}}
    <div class="hover-page-title">
      <div class="page-title-actions">
        &nbsp;<span style="color: #888;">PAGE TITLE</span>
        &nbsp;<span style="color: #d8d8d8;">|</span>&nbsp;
        <a href="#" id="page-title-edit-action">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </div>
      <h1 id="page-title-show">
        {{title}}
      </h1>
    </div>
  {{else}}
    <h1 id="page-title-show">
      {{title}}
    </h1>
  {{/if}}
</template>
