<template name="UsersEdit">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a href="/">Letterhead</a></li>
          <li><a href="{{pathFor 'users.show' _id=currentUser._id}}">User Profile</a></li>
          <li>Edit {{currentUser.username}}</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" value="{{currentUser.username}}" />
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>
